.part {

	&__title {
		font-size: 24px;
		line-height: 32px;

		margin-bottom: 16px;
	}

	&__wrapper {
		margin-bottom: 20px;
	}

	&__title-note {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}

		&-link {
			color: $color-black;
			text-decoration: underline;

			opacity: 0.75;

			transition: $animate;

			&:hover {
				opacity: 1;
			}

			span {
				margin-right: 4px;
			}
		}
	}
}