@mixin card-note-importance($color-importance) {
	&::before {
		background-color: $color-importance;
	}

	&::after {
		background: linear-gradient(135deg, rgba($color-importance, 0.075) 0%, rgba($color-black, 0) 100%);
	}
	&:hover {
		&::after {
			width: 100%;
			height: 100%;
		}
	}
}


@mixin importance-radio-form-note($color-importance) {
	background-color: $color-importance;

	&:hover {
		background-color: darken($color: $color-importance, $amount: 10);
	}
}
