$primary-color-1: #252a31;
$primary-color-2: #1c2129;
$primary-color-3: #5095fd;
$primary-color-4: #84d2ff;
$primary-color-5: #5ea4eb;

$color-importance-0: #c9c9c9;
$color-importance-1: #4bd980;
$color-importance-2: #ffc85a;
$color-importance-3: #fb535a;

$color-background: #eeeff6;
$color-white: #ffffff;
$color-black: #000000;

$animate-int: 0.2s;
$animate: all $animate-int ease;

$width-sidebar: 260px;
