.back-importance {
	margin-top: 12px;
}

.importance-radio {
	width: 100%;
	max-width: 40px;
	height: 40px;
	appearance: none;
	outline: 0;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 4px;
	color: #ffffff;
	text-transform: uppercase;
	transition: $animate;

	&::before {
		content: attr(label);
	}

	&:checked {
		max-width: 100px;
	}

	&.importance-radio-1 {
		@include importance-radio-form-note($color-importance-1);
	}

	&.importance-radio-2 {
		@include importance-radio-form-note($color-importance-2);
	}

	&.importance-radio-3 {
		@include importance-radio-form-note($color-importance-3);
	}
}