.wrapper-notes-items {
	max-width: 24%;
	width: 100%;
}

.add-notes {

	&-area {
		padding: 10px 12px;
		margin-bottom: 12px;
		border-radius: 2px;

		&.add-notes-area-0 {
			background-color: rgba($color-importance-0, 0.25);

			.add-notes-title {
				color: darken($color-importance-0, 20);

				&::before {
					background-color: darken($color-importance-0, 20);
				}
			}

			.add-notes-btn {
				svg {
					fill: darken($color-importance-0, 20);
				}
			}
		}

		&.add-notes-area-1 {
			background-color: rgba($color-importance-1, 0.25);

			.add-notes-title {
				color: darken($color-importance-1, 20);

				&::before {
					background-color: darken($color-importance-1, 20);
				}
			}

			.add-notes-btn {
				svg {
					fill: darken($color-importance-1, 20);
				}
			}
		}

		&.add-notes-area-2 {
			background-color: rgba($color-importance-2, 0.25);

			.add-notes-title {
				color: darken($color-importance-2, 20);

				&::before {
					background-color: darken($color-importance-2, 20);
				}
			}

			.add-notes-btn {
				svg {
					fill: darken($color-importance-2, 20);
				}
			}
		}

		&.add-notes-area-3 {
			background-color: rgba($color-importance-3, 0.25);

			.add-notes-title {
				color: darken($color-importance-3, 20);

				&::before {
					background-color: darken($color-importance-3, 20);
				}
			}

			.add-notes-btn {
				svg {
					fill: darken($color-importance-3, 20);
				}
			}
		}
	}

	&-title {
		font-weight: 500;
		font-size: 16px;
		padding-left: 16px;

		position: relative;

		&::before {
			position: absolute;
			content: "";
			width: 10px;
			height: 10px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
		}
	}
}

.note {
	width: 100%;
	margin-bottom: 20px;
	background-color: $color-white;
	box-shadow: 0px 2px 8px -6px $color-black;

	position: relative;
	z-index: 1;

	&::before {
		position: absolute;
		content: "";
		width: 3px;
		height: 100%;
		left: 0;
		top: 0;
	}

	&::after {
		position: absolute;
		content: "";
		height: 0;
		width: 0;
		top: 0;
		left: 0;
		z-index: -1;
		transition: $animate
	}

	&.importance-0 {
		@include card-note-importance($color-importance-0);
	}

	&.importance-1 {
		@include card-note-importance($color-importance-1);
	}

	&.importance-2 {
		@include card-note-importance($color-importance-2);
	}

	&.importance-3 {
		@include card-note-importance($color-importance-3);
	}

	&-content {
		padding: 12px 10px 12px 20px;
	}

	&-date {
		font-size: 12px;
		font-weight: 500;
		opacity: 0.5;
	}

	&-btn {
		opacity: 0.75;
		transition: $animate;

		&:hover {
			opacity: 0.85;
		}

		&-img {
			width: 14px;
			height: 14px;
		}

		&.note-complete {
			margin-right: 8px;
		}
	}

	&-title {
		font-weight: normal;
		font-size: 20px;
		margin-top: 12px;
	}

	&-text {
		margin-top: 8px;
		font-size: 16px;
	}

	&-back-link {
		margin-top: 20px;
	}
}